apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "resource.default.name"  . }}
  namespace: {{ include "resource.default.namespace"  . }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "labels.selector" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- . | toYaml | nindent 8 }}
      {{- end }}
      labels:
        {{- include "labels.common" . | nindent 8 }}
        {{- if .Values.podLabels }}
        {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- . | toYaml | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- . | toYaml | nindent 8 }}
      {{- end }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchLabels:
                  {{- include "labels.selector" . | nindent 18 }}
              topologyKey: kubernetes.io/hostname
            weight: 100
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/os
                    operator: In
                    values:
                      - linux
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
      serviceAccountName: {{ include "resource.default.name"  . }}
      securityContext:
        runAsUser: {{ .Values.pod.user.id }}
        runAsGroup: {{ .Values.pod.group.id }}
        {{- with .Values.podSecurityContext }}
          {{- . | toYaml | nindent 8 }}
        {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: {{ include "name" . }}
        image: "{{ .Values.registry.domain }}/{{ .Values.image.name }}:{{ include "image.tag" . }}"
        args:
          - --pod-ip=$(MY_POD_IP)
          - --service-name={{ include "resource.default.name"  . }}
          - --service-namespace={{ include "resource.default.namespace"  . }}
        {{- if .Values.exporter.vulnerabilityReports.targetLabels }}
          - --target-labels={{ .Values.exporter.vulnerabilityReports.targetLabels | join "," }}
        {{- end }}
          # A little magic for handling defaulting with booleans https://github.com/helm/helm/issues/3308#issuecomment-701367019
          - --config-audits-enabled={{ hasKey .Values.exporter.configAuditReports "enabled" | ternary .Values.exporter.configAuditReports.enabled true }}
        {{- $trivyEnabled := false }}
        {{- $kubescapeEnabled := false }}
        {{- if or (not (hasKey .Values.exporter.vulnerabilityReports "enabled")) (eq .Values.exporter.vulnerabilityReports.enabled true)}}
          {{- if (hasKey .Values.exporter.vulnerabilityReports "scanners") }}
            {{- if and (hasKey .Values.exporter.vulnerabilityReports.scanners "trivy") (hasKey .Values.exporter.vulnerabilityReports.scanners.trivy "enabled") }}
              {{- $trivyEnabled = .Values.exporter.vulnerabilityReports.scanners.trivy.enabled }}
            {{- end }}
            {{- if and (hasKey .Values.exporter.vulnerabilityReports.scanners "kubescape") (hasKey .Values.exporter.vulnerabilityReports.scanners.kubescape "enabled") }}
              {{- $kubescapeEnabled = .Values.exporter.vulnerabilityReports.scanners.kubescape.enabled }}
            {{- end }}
          {{- else if hasKey .Values.exporter.vulnerabilityReports "enabled" }}
            {{- $trivyEnabled = .Values.exporter.vulnerabilityReports.enabled }}
          {{- end }}
        {{- end }}
          - --trivy-vulnerability-scans-enabled={{ $trivyEnabled }}
          - --kubescape-vulnerability-scans-enabled={{ $kubescapeEnabled }}
        {{- if .Values.exporter.requeueMaxJitterPercent }}
          - --max-jitter-percent={{ .Values.exporter.requeueMaxJitterPercent }}
        {{- end }}
        env:
          - name: MY_POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
        ports:
        - containerPort: 8080
          name: metrics
          protocol: TCP
        - containerPort: 8081
          name: probes
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 30
          timeoutSeconds: 1
        resources:
{{ toYaml .Values.resources | indent 10 }}
        {{- with .Values.securityContext }}
        securityContext:
          {{- . | toYaml | nindent 10 }}
        {{- end }}
