version: 2.1
orbs:
  architect: giantswarm/architect@6.14.1

workflows:
  package-and-push-chart-on-tag:
    jobs:
    - architect/go-build:
        name: go-build
        binary: starboard-exporter
        resource_class: large
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - go-build
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-starboard-exporter-to-control-plane-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: starboard-exporter
        requires:
        - push-to-registries
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-starboard-exporter-to-giantswarm-catalog
        app_catalog: giantswarm-catalog
        app_catalog_test: giantswarm-test-catalog
        chart: starboard-exporter
        persist_chart_archive: true
        requires:
        - push-to-registries
        filters:
          tags:
            only: /^v.*/
      # Run app-test-suite tests.
          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-starboard-exporter-chart-to-default-catalog
        app_catalog: default-catalog
        app_catalog_test: default-test-catalog
        persist_chart_archive: true
        chart: starboard-exporter
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main

    - architect/run-tests-with-ats:
        name: execute chart tests
        filters:
            # Do not trigger the job on merge to main.
          branches:
            ignore:
            - main
        requires:
        - push-starboard-exporter-to-giantswarm-catalog
