replicas: 1
registry:
  domain: docker.io

image:
  name: "giantswarm/starboard-exporter"

pod:
  user:
    id: 1000
  group:
    id: 1000

nodeSelector: {}
tolerations: []

# Additional custom pod labels
podLabels: {}

# Pod securityContext
podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

# Container securityContext
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  privileged: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

resources:
  requests:
    cpu: 100m
    memory: 220Mi
  limits:
    cpu: 100m
    memory: 220Mi

exporter:
  requeueMaxJitterPercent: 10

  CISKubeBenchReports:
    enabled: false
    targetLabels:
      # - test_number
      # - test_desc
      # - test_status

  configAuditReports:
    enabled: true

  vulnerabilityReports:
    enabled: true
    targetLabels:
      # - image_namespace
      # - image_repository
      # - image_tag
      # - vulnerability_id

monitoring:
  serviceMonitor:
    enabled: true
    labels: {}
    relabelings:
    - action: labeldrop
      regex: pod|service|container
    metricRelabelings: []

  grafanaDashboard:
    enabled: true
    # namespace: ""

psp:
  enabled: true

networkpolicy:
  enabled: true

podAnnotations: {}

customMetricsHpa:
  enabled: false
  minReplicas: 2
  maxReplicas: 97
  metricName: scrapedurationseconds
  targetAverageValue: 10
